/*UNIVERSAL SELECTOR*/
. {
    box-sizing: border-box;
}
/*****************************************
GENERAL
******************************************/
body {
    margin: 0;
    font-family: 'Bangers', cursive;
    line-height: 1.5;
}

.main-header {
    height: 850px;
    padding-top: 170px;
    background-image: url('../img/Lake-Tahoe-Nevada-Wallpapers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-header, .title {
    text-align: center;
}

.title {
    /*To change font-size from px to em. Do this simple equation.
    Whatever the desire pixel is / 16.
    26px/16px = 
    */
    font-size: 1.625em;
    color: white;
}

.primary-content, {
    text-align: center;
    padding-bottom: 95px;
}

.secondary-content {
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 2px solid black;
}

.primary-content, .secondary-content {
    width: 75%;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 900px;
}

.t-border {
    border-top: 2px solid black;
}

/*ul li {
    margin-bottom: 5px;
}*/

ul, ol {
    margin-left: 30px 0;
}

li {
    margin-bottom: 20px;
}

.arrow {
    width: 50px;
}

img {
    width: 500px;
    margin-bottom: 20px;
}

.wildlife {
/*    padding-top: 100px;
    padding-right: 120px;
    padding-bottom: 100px;
    padding-left: 120px;*/
    padding: 18% 24%;
    /*two  values first is top and bottom. 2nd id for left and right.*/
/*    border-width: 10px 20px;
    border-style: solid;
    border-color: aqua;*/
    border-top: 10px solid black;
    /*When 3 values. First one is the top. Second one is left and right. Third one is bottom.*/
    margin: 105px 0 60px;
    
    background-image: url('../img/coyote.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*Box Shadowa: 1st value is horizontal. 2nd is vertical. 3rd is blur. 4th is spread radius.*/
    box-shadow: inset 0px 0px 70px 30px rgba(0,0,0,.8);
}

.callout {
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
}

#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px aqua;
}


/*****************************************
HEADLINE ELEMENTS & P ELEMENTS
******************************************/


h1 {
    /*90px/16px*/
    font-size: 5.625em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    /*Text Shadows: 1st value is horizontal offset. 2nd value is vertical offset. 3rd value is blur. 4th is of the color of the shadow.*/
    text-shadow: 0 10px 10px rgba(0,0,0,.8);
}

h2 {
    font-size: 53px;
    text-decoration: underline;
    font-weight: normal;
    /*26px/53px*/
    margin-bottom: .5em
}

h3 {
    font-size: 20px;
    /*34px/20px*/
    margin-bottom: 1.7em;
}

p {
    
}

/*****************************************
FLOATED COLUMNS
******************************************/
.resorts, .tips {
    width: 46.5%;
}

.resorts {
    float: left;
}

.tips {
    float: right;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}





/*****************************************
COLORS
******************************************/
body {
    color: aqua;
}

.title {
    color: aqua;
}

.main-header {
    background-color: black;
}

.wildlife {
    color: white;
    background-color: darkorange;
}

ul li {
    color: white;
    background-color: darkorange;
}

h1 {
    color: aqua;
}

h3 {
    color: azure;
}

/*CSS PSEUDO CLASS*/
a:link {
    color: black;
}

a:visited {
    color: #;
}

a:hover {
    color: aqua;
}

a:active {
    color: aquamarine;
}

a:focus {
    color: aqua;
    background-color: black;
}